<div class="p-col">
    <!-- <div class="p-card-div1"> -->
        <div class="p-px-lg-6">
        <p-card>
            <div class="p-text-center">
                <h3 style="font-style:unset">Login to access your family tree!</h3>
                <p-button label="SignIn"></p-button>
                <br>
                <br>
                <br>
                <h5>don't have an account yet?</h5>
                <h3>Signup and start creating your family tree!</h3>
                <p-button label="SignUp"></p-button>
            </div>
        </p-card>
        </div>
    <!-- </div> -->
</div>