

<span class="male"><a href="#"><p>{{userfirstName}} {{userlastName}}</p></a>
    <img src="url" alt="alternatetext">
    <br>1601 - 1681
    <hr>
    <button pButton  type="button" label="Info" class="p-button-info" style="height: 20px;"></button>
</span>
<span *ngIf="isSpouse" class="spacer"></span>
<span *ngIf="isSpouse" class="female">{{spousefirstName}} {{spouselastName}}
    <img src="url" alt="alternatetext">
    <br>1601 - 1681
    <hr>
    <button pButton  type="button" label="Info" class="p-button-info" style="height: 20px;"></button>
</span>
