<!-- <div class="p-col "> -->
    <div class="p-px-lg-6">
        <p-card>
            <div class="p-grid">
                <div class="p-col">
                    <div class="p-px-lg-6">
                        <div class="p-text-center">
                            <h3 style="font-style:unset">Login to access your family tree!</h3>
                            <p-button label="SignIn"></p-button>
                            <br>
                            <br>
                            <br>
                            <div> or </div>
                            <!-- <hr> -->
                            <br>
                            <h5>don't have an account yet?</h5>
                            <h3>Signup and start creating your family tree!</h3>
                            <p-button label="SignUp"></p-button>
                        </div>
                    </div>
                </div>
                <div style="border-left: 2px solid green; left: 50%; top: 2%; margin-left: -15px;"></div>
                <div class="p-col">
                    <div class="p-px-lg-6">
                        <div class="p-text-center">
                            <h5 style="font-style:unset">Don't want to create an account yet. No problem...!</h5>
                            <!-- <h3 style="font-style:unset">No problem...!</h3> -->
                            
                            <h2 style="font-style:unset">Search a family member</h2>
            
                            <div class="p-fluid p-formgrid p-grid p-pb-lg-4 ">
                                <span class="p-float-label p-col">
                                    <input id="float-input" type="text" pInputText> 
                                    <label for="float-input">Firstname</label>
                                </span>
            
                                <span class="p-float-label p-col">
                                    <input id="float-input" type="text" pInputText> 
                                    <label for="float-input">Lastname</label>
                                </span>
                            </div>
                            <div class="p-fluid p-formgrid p-grid p-pb-lg-4">
                                <span class="p-float-label p-col">
                                    <input id="float-input" type="text" pInputText> 
                                    <label for="float-input">Father Firstname</label>
                                </span>
            
                                <span class="p-float-label p-col">
                                    <input id="float-input" type="text" pInputText> 
                                    <label for="float-input">Father Lastname</label>
                                </span>
                            </div>
                            <div class="p-fluid p-formgrid p-grid p-pb-lg-4">
                                <span class="p-float-label p-col">
                                    <input id="float-input" type="text" pInputText> 
                                    <label for="float-input">Mother Firstname</label>
                                </span>
            
                                <span class="p-float-label p-col">
                                    <input id="float-input" type="text" pInputText> 
                                    <label for="float-input">Mother Lastname</label>
                                </span>
                            </div>
                            <!-- <div class="p-fluid p-formgrid p-grid p-pb-lg-4">
                                <span class="p-float-label p-col">
                                    <input id="float-input" type="text" pInputText> 
                                    <label for="float-input">Grandfather's Firstname</label>
                                </span>
            
                                <span class="p-float-label p-col">
                                    <input id="float-input" type="text" pInputText> 
                                    <label for="float-input">Grandfather's Lastname</label>
                                </span>
                            </div>
                            <div class="p-fluid p-formgrid p-grid p-pb-lg-4">
                                <span class="p-float-label p-col">
                                    <input id="float-input" type="text" pInputText> 
                                    <label for="float-input">Grandmother's Firstname</label>
                                </span>
            
                                <span class="p-float-label p-col">
                                    <input id="float-input" type="text" pInputText> 
                                    <label for="float-input">Grandmother's Lastname</label>
                                </span>
                            </div> -->
                            <button pButton type="button" label="Search" class="p-button-lg"></button>
                            <!-- <button label="Search" class="p-button-lg"></p-button> -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- <div class="p-text-center">
                <h5 style="font-style:unset">Don't want to create an account yet. No problem...!</h5> -->
                
                
                <!-- <h2 style="font-style:unset">Search a family member</h2>

                <div class="p-fluid p-formgrid p-grid p-pb-lg-4 ">
                    <span class="p-float-label p-col">
                        <input id="float-input" type="text" pInputText> 
                        <label for="float-input">Firstname</label>
                    </span>

                    <span class="p-float-label p-col">
                        <input id="float-input" type="text" pInputText> 
                        <label for="float-input">Lastname</label>
                    </span>
                </div>
                <div class="p-fluid p-formgrid p-grid p-pb-lg-4">
                    <span class="p-float-label p-col">
                        <input id="float-input" type="text" pInputText> 
                        <label for="float-input">Father Firstname</label>
                    </span>

                    <span class="p-float-label p-col">
                        <input id="float-input" type="text" pInputText> 
                        <label for="float-input">Father Lastname</label>
                    </span>
                </div>
                <div class="p-fluid p-formgrid p-grid p-pb-lg-4">
                    <span class="p-float-label p-col">
                        <input id="float-input" type="text" pInputText> 
                        <label for="float-input">Mother Firstname</label>
                    </span>

                    <span class="p-float-label p-col">
                        <input id="float-input" type="text" pInputText> 
                        <label for="float-input">Mother Lastname</label>
                    </span>
                </div> -->
                <!-- <div class="p-fluid p-formgrid p-grid p-pb-lg-4">
                    <span class="p-float-label p-col">
                        <input id="float-input" type="text" pInputText> 
                        <label for="float-input">Grandfather's Firstname</label>
                    </span>

                    <span class="p-float-label p-col">
                        <input id="float-input" type="text" pInputText> 
                        <label for="float-input">Grandfather's Lastname</label>
                    </span>
                </div>
                <div class="p-fluid p-formgrid p-grid p-pb-lg-4">
                    <span class="p-float-label p-col">
                        <input id="float-input" type="text" pInputText> 
                        <label for="float-input">Grandmother's Firstname</label>
                    </span>

                    <span class="p-float-label p-col">
                        <input id="float-input" type="text" pInputText> 
                        <label for="float-input">Grandmother's Lastname</label>
                    </span>
                </div> -->
                <!-- <button pButton type="button" label="Search" class="p-button-lg"></button> -->
                
            <!-- </div> -->
        </p-card>
    <!-- </div> -->
</div>