<div class="p-m-lg-6 p-px-lg-6 p-pt-lg-6 p-m-sm-3 p-px-sm-3 p-pt-sm-3">
  
    <!-- <div class="p-grid"> -->
        <!-- <app-loginUI></app-loginUI> -->
        <app-searchUI></app-searchUI>
        <!-- <div class="p-col">
            
                <div class="p-px-lg-6">
                <p-card>
                    <div class="p-text-center">
                        <h3 style="font-style:unset">Login to access your family tree!</h3>
                        <p-button label="SignIn"></p-button>
                        <br>
                        <br>
                        <br>
                        <h5>don't have an account yet?</h5>
                        <h3>Signup and start creating your family tree!</h3>
                        <p-button label="SignUp"></p-button>
                    </div>
                </p-card>
                </div>
            
        </div> -->
        <!-- <div class="p-col-fixed" style="width:100px">
             <div class="p-col-fixed" style="width:10px"></div> 
        </div> -->
        <!-- <div class="p-col">
            <div class="p-px-lg-6">
                <p-card>
                    <div class="p-text-center">
                        <h3 style="font-style:unset">Don't want to create an account yet!</h3>
                        <h3 style="font-style:unset">No problem...!</h3>
                        <br>
                        <br>
                        <br>
                        <h3 style="font-style:unset">Click the below button to search a family member</h3>
                        <p-button label="Search"></p-button>
                    </div>
                </p-card>
            </div>
        </div> -->
    
        <!-- </div> -->
    </div>
    